$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px,
);

$mainText: #6e7c8c;

$mainBlue: #0072e3;
$lightBlue: #bbdefb;
$darkBlue: #0065c8;

$mainGrey: #eaeef4;
$darkGrey: #dce3ed;

$mainBlack: #344861;
