@import 'src/styles/variables';

.toolbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin-bottom: 16px;
}

.button {
    text-align: center;
    color: $mainBlue;
    font-size: 12px;
    cursor: pointer;

    &:hover > div {
        background-color: $darkGrey;
    }
}

.icon {
    width: 100%;
    aspect-ratio: 1;
    background-color: $mainGrey;
    border-radius: 50%;
    margin: 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg {
        display: block;
        max-width: 55%;
        max-height: 80%;
        fill: $mainBlue;
    }
}
